DataProcess/Videos
DataProcess/ClipVideo
DataProcess/OpticalFlows
DataProcess/OpticalFlows_bak
DataProcess/Logs
DataProcess/*.csv
DataProcess/.json
DataProcess/*.mp3
*.json
data
results
*.pyc
*/__pycache__/*